.footer {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  text-align: center;
  padding-block-end: 2.4rem;
  padding-block-start: 2.4rem;
}

.footer p {
  font: var(--body1);
}

.footer .logo-white {
  display: none;
}

.footer .social {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .footer .logo-white {
    display: block;
  }
  .footer .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footer-copyright {
    display: flex;
    gap: 0.8rem;
  }
}
